faiss-cpu
langchain==0.3.27
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-ollama
langchain-community
langchain-together
numpy==1.24.0
pydantic==2.9.2
PyQt5>=5.15.0
PyQtChart>=5.15.0
pyttsx3==2.90
requests==2.31.0
spacy==3.7.5
textstat
tiktoken
internetarchive
PyMuPDF~=1.25.5
pymupdf4llm~=0.0.22
pillow
PyQtWebEngine
boilerpy3
spylls
ebooklib
beautifulsoup4
python-docx
markdown
markdownify
roman
kanjize
num2words
